
<div class="container-fluid">
    <div class="row-fluid m-l-md m-b-md">
        <form>
            <br>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <select id="selectPo" ng-change="setProtocal(po)" class="form-control" ng-model="po">
                    <option value="" translate="flowDisplay.SELECT_PO">---请选择保护对象---</option>
                    <option ng-repeat="obj in POData" value={{obj}}>{{obj.name}}</option>
                </select>
            </div>
            <!--<select ng-model="po" ng-change="setProtocal(po)" ng-options="obj.name for obj in POData" >-->
            <!--&lt;!&ndash;<option value=-1>---请选择协议---</option>&ndash;&gt;-->

            <!--</select>-->
            <div class="col-lg-2 col-md-2 col-sm-2">

                <select id="selectProtocal" class="form-control">
                    <option value=-1 translate="flowDisplay.SELECT_PROTOCOL">---请选择协议---</option>
                    <option ng-repeat="obj in protocal" value={{obj.value}}>{{obj.name}}</option>
                </select>
            </div>

            <!--<div class="col-lg-2 col-md-2 col-sm-2">-->
                <!--<select id="selectTime" class="form-control">-->
                    <!--<option id="Monday" value="1">星期一</option>-->
                    <!--<option id="Tuesday" value="2">星期二</option>-->
                    <!--<option id="Wednesday" value="3">星期三</option>-->
                    <!--<option id="Thursday" value="4">星期四</option>-->
                    <!--<option id="Friday" value="5">星期五</option>-->
                    <!--<option id="Saturday" value="6">星期六</option>-->
                    <!--<option id="Sunday" value="7">星期天</option>-->
                    <!--<option id="All" value="10" selected="selected">全部</option>-->
                <!--</select>-->
            <!--</div>-->

            <div class="col-lg-2 col-md-2 col-sm-2">
                <!--<button id="hour" type="button" class="btn btn-info" onclick="drawBaseValue(0)">提交查询</button>-->
                <button type="button" class="btn btn-info" ng-click="getDatas()" translate="flowDisplay.QUERY">提交查询</button>
            </div>
        </form>
    </div>
</div>
<br><br>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<!--<div id="main" style="height:400px; width:900px"></div>-->


<div class="row-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading font-bold" translate="flowDisplay.BASELINE_CHART">流量基线图</div>
            <div class="panel-body ">
                <div data-iu-chart="baseValueOption" class="iuChart"></div>
            </div>
        </div>
    </div>
</div>


<!--<script>-->
   <!--setTimeout(function(){drawBaseValue(0)},100);-->
<!--</script>-->
<script>
    //$(function(){
    function initPage() {
        var wHeight = $(window).height();
        var cHeight =( wHeight-170)/2;
        if(cHeight > 0) {
            $(".iuChart").height(cHeight);
        }
    }

    initPage();
    $(window).resize(function () {
        initPage()
    });
    //});
</script>