
<div class="col" ng-controller="overViewController" >
    <div class="wrapper-md">

        <div class="row-fluid">
            <div class="text-center">

                <div class="col-lg-3 col-sm-3">
                    <div class="panel bg-primary padder-v item">
                        <div class="h1 text-white h1 m-b-sm" ng-model="normalNumber" num-move="-" style="height: 39px">{{normalNumber|number}}</div>  <!--id="totalCount_move"{{totalCount}}-->
                        <span class="text-white" translate="overView.NORMAL">速率正常次数</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <div class="panel bg-info padder-v item">
                        <div class="h1 text-white h1 m-b-sm"  ng-model="exceptionNumber" num-move="-" style="height: 39px">{{exceptionNumber|number}}</div>  <!--id="totalCount_move"{{totalCount}}-->
                        <span class="text-white" translate="overView.EXCEPTION">速率异常次数</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <div class="panel bg-danger padder-v item">
                        <div class="h1 text-white h1 m-b-sm"  ng-model="attackNumber" num-move="-" style="height: 39px">{{attackNumber | number }}</div>  <!--id="totalCount_move"{{totalCount}}-->
                        <span class="text-white" translate="overView.ATTACK">攻击次数</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <div class="panel bg-black padder-v item">
                        <div class="h1 text-white h1 m-b-sm" num-move="-" ng-model="defenseNumber" style="height: 39px">{{defenseNumber|number}}</div>
                        <span class="text-white" translate="overView.DEFENSE">启动防御次数</span>
                    </div>
                </div>

            </div>

        </div>
        <div class="row-fluid">

            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold" translate="overView.NUMBER_RATIO">检测次数占比</div>
                    <div class="panel-body ">
                        <div data-iu-chart="numberOption" style="height:250px;"></div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">

                    <div class="panel-heading font-bold" translate="overView.PROTOCOL_RATIO">协议攻击占比</div>
                    <div class="panel-body">
                        <div data-iu-chart="protocalPieOption" style="height:250px;"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row-fluid">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold" translate="overView.ATTACK_EVENT">最近攻击防御事件</div>

                    <div>
                        <table class="table table-hover" >
                            <thead>
                            <tr>
                                <th translate="overView.EVENT_TYPE">事件类型</th>
                                <th translate="overView.EVENT_TIME">时间</th>
                                <th translate="overView.EVENT_PO">对象</th>
                                <th translate="overView.EVENT_PROTOCOL">攻击报文协议</th>
                                <th translate="overView.EVENT_RATE">攻击速率</th>
                                <th translate="overView.EVENT_DEFENSE">防御措施</th>
                            </tr>
                            </thead>
                            <tbody ng-show="eventTableLength>0">
                            <tr ng-repeat="obj in eventTableJson">
                                <td>{{eventType[obj.type]}}</td>
                                <td>{{obj.time | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                                <td>{{obj.poName}}</td>
                                <td>{{protocolStr[obj.protocol]}}</td>

                                <td ng-if="obj.type == 'EVENT_ATTACKED' ">{{obj.attackPps}}pps/ {{obj.attackSpeed/1024 | number}}KB/s</td>
                                <td ng-if="obj.type != 'EVENT_ATTACKED' ">NA</td>

                                <td ng-if="obj.type == 'EVENT_ATTACKED' ">NA</td>
                                <td ng-if="obj.type == 'EVENT_START_DEFENSE' ">{{defenseStart[obj.defenseType]}}</td>
                                <td ng-if="obj.type == 'EVENT_STOP_DEFENSE' ">{{defenseStop[obj.defenseType]}}</td>
                            </tr>
                            </tbody>

                        </table>
                        <div class="text-center">
                            <p ng-show="eventTableLoading" translate="commonword.LOADING">加载中</p>
                            <p ng-show="!eventTableLength>0 && !eventTableLoading " translate="commonword.NODATA">暂无数据</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold" translate="overView.ATTACK_DETAIL_LIST">攻击详细列表</div>

                    <div>
                        <table class="table table-hover" >
                            <thead>
                            <tr>
                                <th translate="overView.EVENT_PO">对象</th>
                                <th translate="overView.EVENT_PROTOCOL">协议</th>
                                <th translate="overView.NORMAL">速率正常次数</th>
                                <th translate="overView.EXCEPTION">速率异常次数</th>
                                <th translate="overView.ATTACK">攻击次数</th>
                                <th translate="overView.DEFENSE">启动防御次数</th>
                                <th translate="overView.RECOVER_NUMBER">防御恢复次数</th>
                            </tr>
                            </thead>
                            <tbody ng-show="tableLength>0">
                            <tr ng-repeat="obj in tableJson">
                                <td>{{obj.poName}}</td>
                                <td>{{protocolStr[obj.flowStat.protocol]}}</td>
                                <td>{{obj.flowStat.normalSpeedCount}}</td>
                                <td>{{obj.flowStat.exceptionSpeedCount}}</td>
                                <td>{{obj.flowStat.attackCount}}</td>
                                <td>{{obj.flowStat.defenseCount}}</td>
                                <td>{{obj.flowStat.recoverCount}}</td>
                            </tr>
                            </tbody>

                        </table>
                        <div class="text-center">
                            <p ng-show="tableloading" translate="commonword.LOADING">加载中</p>
                            <p ng-show="!tableLength>0 && !tableloading " translate="commonword.NODATA">暂无数据</p>
                        </div>

                    </div>
                    <div id="page" class="pull-right m-pagination" ></div>
                </div>
            </div>
        </div>



    </div>


</div>
